.safra{
    background-image: url("../assets/empresas/safra.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vw;   
   
}

.einstein{
    background-image: url("../assets/empresas/einstein.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
}

.fpb{
    background-image: url("../assets/empresas/fpb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vw;   
   
}

.esfera{
    background-image: url("../assets/empresas/esfera.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10vw;   
   
}