
  /* LIGHT */
:root {
  --light: #ffffff;
  --light2: #ECEDF9;
  --light3: #A1A2B2;
  --primary: #2B3080;
  --button: #0C0E26;
  --pagetext: #000;
  --links: #000;
  --font1: "Open Sans", sans-serif;
  --font2: "Roboto", sans-serif;
  --fontcolorlight: #D3DDD0;
  --fontcolor: #06B9FD;
}

/* HEADER */
.animateTab {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
.animateTab::after {
	content: "";
	width: 0;
	height: 2px;
	background: #D3DDD0;
	transition: width .3s;
}

.animateTab:hover::after {
	width: 100%;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.waves {
  height: 100%;
  width: 100vw;
  position: fixed;
  background-image: url("../assets/bg-absolut-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  z-index: 1;

}

.cardMotivational {
  width: auto;
  background: #38262600 !important;
}


    /* Small devices (landscape phones, 576px and up) */
   @media (min-width: 576px) {
    
   
    }
   
   /* Medium devices (tablets, 768px and up) */
   @media (min-width: 768px) {
   }
   
   /* // Large devices (desktops, 992px and up) */
   @media (min-width: 992px) {  }
   
   /* // X-Large devices (large desktops, 1200px and up) */
   @media (min-width: 1200px) {  }
   
   /* // XX-Large devices (larger desktops, 1400px and up) */
   @media (min-width: 1400px) {  }
    