
  /* LIGHT */
:root {
  --light: #ffffff;
  --light2: #ECEDF9;
  --light3: #A1A2B2;
  --primary: #2B3080;
  --button: #0C0E26;
  --pagetext: #000;
  --links: #000;
  --font1: "Open Sans", sans-serif;
  --font2: "Roboto", sans-serif;
  --fontcolorlight: #D3DDD0;
}

/* HEADER */
.animateTab {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
.animateTab::after {
	content: "";
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}

.animateTab:hover::after {
	width: 100%;
}

.ads-logo{
  border-radius: 50%;
  margin-right: 20px;
  background-image: url("../../assets/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  
}






   /* // Small devices (landscape phones, 576px and up)
   @media (min-width: 576px) {
   
    }
   
   // Medium devices (tablets, 768px and up)
   @media (min-width: 768px) {
   }
   
   // Large devices (desktops, 992px and up)
   @media (min-width: 992px) {  }
   
   // X-Large devices (large desktops, 1200px and up)
   @media (min-width: 1200px) {  }
   
   // XX-Large devices (larger desktops, 1400px and up)
   @media (min-width: 1400px) {  }
    */